.header__lang-link {
    margin-left: 18px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    transition: opacity .5s linear;
    opacity: 1;
    font-style: normal;
}

.header__lang-link:hover {
    opacity: 0.5;
}