.cover__background-image {
    width: 100%;
    height: 740px;
    background-image: url(/images/__background.png);
    background-size: cover;
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
}
