.cover__background-image {
    width: 100%;
    height: 740px;
    background-image: url(/images/__background.png);
    background-size: cover;
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover__background-image {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background-image {
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background-image {
        height: 200px;
    }
}