.cover__subtitle {
    padding: 0;
    color: #fff;
    grid-row: 1;
    grid-column: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    text-align: center;
    align-self: end;
    margin: 0 auto calc(100%/4);
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 auto calc(100%/5);
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 0 auto calc(100%/6);
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 114%;
        margin: 0 auto calc(100%/9);
    }
}