.place__paragraph {
    margin: 0;
    color: #fff;
    font-style: normal;
    font-size: 18px;
    line-height: 29.34px;
    margin-bottom: 26px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
}