.footer__copyright {
    margin: 0;
    align-self: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
}


@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 100%;
        margin-top: 48px;
        align-self: start;
    }
}