.header__lang-link_selected {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    transition: opacity .5s linear;
    font-style: normal;
    text-decoration: underline;
}

.header__lang-link_selected:hover {
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .header__lang-link_selected {
        font-size: 18px;
        line-height: 111%;
    }
}