.footer__column-links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}


@media screen and (max-width: 320px) {
    .footer__column-links {
        flex-direction: column;
    }
}