.footer__column-links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.footer__column-links:not(:last-child){
    margin-right: 100px;
}

@media screen and (max-width: 767px) {
    .footer__column-links {
        flex-direction: column;
    }
}